/* GENERAL */

body, h1, h2, h3, h4, h5, p, figure {
	font-size: 20px;
	font-family: 'TitilliumWeb';
	color: #1a1a1a;
	margin: 0;
	padding: 0;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	max-width: 100%; 
}

h1{
	font-family: 'titillium-font',Arial,Helvetica,sans-serif;
  	font-size: 80px;
  	line-height: 80px;
  	font-weight: 200;
  	display: block;
  	width: 620px;
  	padding: 0;
  	color: #ce4d38;
  	text-transform: uppercase;
}

figure {
	margin: 0 0 40px 0;
}

a {
	color: #000;
	font-weight: 700;
}

a:hover{
	color: #ccc;
}


.underline{
	background-color: #ffff00;
	font-weight: 100;
}

.relative-center-max {
	height: auto;
	margin: 0 auto;
	max-width: 1338px;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 6em;
}

.center-absolute{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
}


.container{
	height: auto;
	width: 100%;
}

.content {
	height: auto;
	width: 100%;
	margin: 0 auto;
}

.try {
	height: 400px;
	background-color: #f6f6f6;
}

/*/ HEADER /*/

.header-title-container{
	position: absolute;
	left: 5%;
	bottom: 12%;
	height: auto;
}

.number-container{
	font-family: 'Milio';
	font-size: 300px;
	color: white;
	font-style: italic;
	line-height: 300px;
}

.line-container{
	width: 80%;
	height: 2px;
	background-color: white;
	margin: 30px 0 30px 0;
}

.main-header-container{
	width: 100%;
	max-width: 290px;
}

.main-header{
	font-size: 80px;
	color: white;
	line-height: 65px;
	font-weight: 900;
}

.header-bg{
	width: 100%;
	height: auto;
}

.header-arrow{
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	text-align: center;
}

.logo-container{
	margin-top: 20px;
}

.diez{
	display: none;
}

/*/ INTRO /*/

.intro-wrapper{
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 775px;
  	text-align: center;
  	line-height: 31px;
}

.intro-main-container{
	font-size: 20px;
	font-weight: 100;
}

.author-content{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 200;
}

.intro-line{
	width: 90%;
	max-width: 315px;
	height: 1px;
	background-color: black;
	margin: 15px auto;
}

/*/ PART /*/

.number-part-container{
	width: 100px;
	height: auto;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
	background-color: #1a1a1a;
	color: #dde07e;
	text-align: center;
	margin: 0 auto;
}

.title-part-container{
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	line-height: 45px;
	margin: 15px 0;
}

.photo-part-container{
	text-align: center;
	margin: 0px 0 10px 0;
}

.photo-part-img{
	width: 100%;
}

.fullwidth{
	width: 100%;
}

/*/ HOUR /*/

.hour-container{
	width: 176px;
	background-image: url(../images/etiqueta.png);
	background-repeat: none;
	height: 42px;
	font-weight: 900;
	position: relative;
	display: inline-block;
}

.hour-main{
	color: #dde07e;
  	left: 72px;
  	position: relative;
  	bottom: 4px;
  	font-size: 29px;
}

.caption-wrapper{
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
	float: left;
}

.caption-container{
	width: 50%;
	float: left;
	line-height: 26px;
}

.fullwidth{
	width: 100%;
}

.caption-text-container{
	display: inline-block;
	width: 90%;
	font-size: 18px;
	opacity: .8;
	position: relative;
	vertical-align: top;
	padding: 25px;
}

.caption-text-big{
	font-weight: 900;
	font-size: 120px;
	color: #ccc;
	line-height: 90px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.caption-img-container{
	width: 50%;
	display: inline-block;
	overflow: hidden;
	line-height: 0;
}

/*/ TEXT CENTER /*/

.text-center-main{
	width: 90%;
	max-width: 650px;
	position: relative;
	margin: 0 auto;
}

/*/ TWO PHOTO /*/

.two-photo{
	width: 100%;
}

.two-photo-content{
	width: 100%;
	display: none;
}

/*/ MIDSCREEN /*/

.midscreen-wrapper{
	position: relative;
	width: 50%;
	float: left;
}

.midscreen-text-container{
	position: relative;
	width: 50%;
	float: right;
}

/*/SOCIAL/*/

.share-buttons{
	margin: 0;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

/*/RESPONSIVE /*/

@media screen and (max-width: 1024px){

	.number-container{
		font-size: 400px;
	}
	
	.header-title-container{
		width: 70%;
		top: 5%;
	}

	.main-header-container{
		max-width: 500px;
	}

	.line-container{
		margin: 0 0 15px 0;
	}

	.number-container{
		line-height: 365px;
	}

	.caption-text-big{
		font-size: 50px;
  		line-height: 55px;
	}

}


@media screen and (max-width: 600px){
	.number-container{
		display: none;
	}
	
	.header-background{
		overflow: hidden;
	}

	.header-bg{
		max-height: 500px;
		width: auto;
	}

	.header-title-container, .caption-text-container {
		width: 90%;
	}

	.header-title-container{
		margin: 0 auto;
		text-align: center;
		top: 10%;
	}

	.line-container{
		margin: 18px auto;
	}

	.caption-text-container{
		top: 25px;
	}

	.midscreen-wrapper, .midscreen-text-container{
		width: 100%;
	}

	.two-photo{
		display: none;
	}

	.two-photo-content{
		display: block;
	}

	.share-buttons{
		margin: 0 auto;
		text-align: center;
		padding-top: 20px;
	}

	.share-buttons li{
		padding: 15px 5px;
	}

	.author-content{
		font-size: 17px;
	}

	.social-container{
	margin-top: 20px;
	}

	.header-arrow{
		position: absolute;
		bottom: 84px;
		left: 0;
		right: 0;
		text-align: center;
	}

	.diez {
		display: block;
	}

	.main-header{
		font-size: 67px;
  		line-height: 55px;
	}

	.graph{
		display: none;
	}

	.caption-container{
		width: 100%;
		margin-bottom: 34px;
	}

	.caption-img-container{
		width: 100%;
	}

	.caption-text-big{
		line-height: 43px;
	}

}